volumes:
  blog_db:

services:
  database:
    image: postgres:17-alpine
    container_name: db_blognbot
    env_file: .env
    volumes:
      - blog_db:/var/lib/postgresql/
    ports:
      - "6385:5432"
    restart: unless-stopped

  backend:
    build: ../backend
    container_name: backend_blognbot
    env_file: .env
    restart: unless-stopped
    depends_on:
      - database
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"

  tgbot:
    build: ../tgbot
    container_name: tgbot_blognbot
    env_file: .env
    depends_on:
      - backend
    restart: unless-stopped